-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: user_db
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `credential_signers`
--

DROP TABLE IF EXISTS `credential_signers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credential_signers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `credentialId` varchar(100) NOT NULL,
  `studentPublicKey` varchar(100) NOT NULL,
  `institutionPublicKeys` text NOT NULL,
  `signingType` enum('self','sequential','parallel') NOT NULL DEFAULT 'sequential',
  `title` varchar(255) DEFAULT NULL,
  `filePath` varchar(255) DEFAULT NULL,
  `purpose` varchar(255) DEFAULT NULL,
  `status` enum('pending','issued','completed') DEFAULT 'pending',
  `issuedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `txHash` varchar(255) DEFAULT NULL,
  `currentSignerOrder` int DEFAULT '1',
  `signerId` varchar(100) DEFAULT NULL,
  `signerPublicKey` varchar(100) DEFAULT NULL,
  `signerName` varchar(100) DEFAULT NULL,
  `signerOrder` int DEFAULT NULL,
  `signed` tinyint(1) DEFAULT '0',
  `color` varchar(50) DEFAULT NULL,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credential_signers`
--

LOCK TABLES `credential_signers` WRITE;
/*!40000 ALTER TABLE `credential_signers` DISABLE KEYS */;
/*!40000 ALTER TABLE `credential_signers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credentials`
--

DROP TABLE IF EXISTS `credentials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credentials` (
  `id` int NOT NULL AUTO_INCREMENT,
  `studentId` int NOT NULL,
  `institutionId` int DEFAULT NULL,
  `credentialId` varchar(100) NOT NULL,
  `credentialHash` char(64) NOT NULL,
  `purpose` varchar(100) NOT NULL,
  `title` varchar(150) NOT NULL,
  `filePath` varchar(255) DEFAULT NULL,
  `institutionSigned` tinyint(1) DEFAULT '0',
  `studentSigned` tinyint(1) DEFAULT '0',
  `txHash` varchar(66) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `issuedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `signatureFields` json DEFAULT NULL,
  `signingType` enum('self','sequential','parallel') NOT NULL,
  `currentSignerOrder` int DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `credentialId` (`credentialId`),
  KEY `studentId` (`studentId`),
  KEY `institutionId` (`institutionId`),
  CONSTRAINT `credentials_ibfk_1` FOREIGN KEY (`studentId`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credentials`
--

LOCK TABLES `credentials` WRITE;
/*!40000 ALTER TABLE `credentials` DISABLE KEYS */;
/*!40000 ALTER TABLE `credentials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `institutions`
--

DROP TABLE IF EXISTS `institutions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `institutions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `institutionName` varchar(200) NOT NULL,
  `email` varchar(150) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `walletPublicKey` varchar(100) NOT NULL,
  `walletPrivateKeyEncrypted` text NOT NULL,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `biometric_type` varchar(20) DEFAULT NULL,
  `biometric_vector_encrypted` longblob,
  `biometric_iv` blob,
  `biometric_salt` blob,
  `biometric_created_at` datetime DEFAULT NULL,
  `biometric_verified_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `walletPublicKey` (`walletPublicKey`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `institutions`
--

LOCK TABLES `institutions` WRITE;
/*!40000 ALTER TABLE `institutions` DISABLE KEYS */;
/*!40000 ALTER TABLE `institutions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `issued_credentials`
--

DROP TABLE IF EXISTS `issued_credentials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `issued_credentials` (
  `id` int NOT NULL AUTO_INCREMENT,
  `credentialId` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `studentPublicKey` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `institutionPublicKeys` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `signingType` enum('self','sequential','parallel') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sequential',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'Credential',
  `filePath` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `purpose` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('pending','issued','completed') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `txHash` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `currentSignerOrder` int DEFAULT '1',
  `issuedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `extra` json DEFAULT NULL,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `credentialId` (`credentialId`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `issued_credentials`
--

LOCK TABLES `issued_credentials` WRITE;
/*!40000 ALTER TABLE `issued_credentials` DISABLE KEYS */;
/*!40000 ALTER TABLE `issued_credentials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `signature_fields`
--

DROP TABLE IF EXISTS `signature_fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `signature_fields` (
  `id` int NOT NULL AUTO_INCREMENT,
  `credentialId` varchar(100) NOT NULL,
  `signerPublicKey` varchar(100) NOT NULL,
  `xRatio` float NOT NULL,
  `yRatio` float NOT NULL,
  `widthRatio` float NOT NULL,
  `heightRatio` float NOT NULL,
  `x_px` float NOT NULL,
  `y_px` float NOT NULL,
  `width_px` float NOT NULL,
  `height_px` float NOT NULL,
  `color` varchar(50) DEFAULT 'blue',
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `signature_fields`
--

LOCK TABLES `signature_fields` WRITE;
/*!40000 ALTER TABLE `signature_fields` DISABLE KEYS */;
/*!40000 ALTER TABLE `signature_fields` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `firstName` varchar(50) DEFAULT NULL,
  `lastName` varchar(50) DEFAULT NULL,
  `age` int NOT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `phone` varchar(20) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('student','admin','worker') NOT NULL DEFAULT 'student',
  `walletAddress` varchar(255) DEFAULT NULL,
  `issued` tinyint(1) DEFAULT '0',
  `walletPublicKey` varchar(255) DEFAULT NULL,
  `walletPrivateKeyEncrypted` text,
  `biometric_type` varchar(20) DEFAULT NULL,
  `biometric_vector_encrypted` longblob,
  `biometric_iv` varchar(255) DEFAULT NULL,
  `biometric_salt` varchar(255) DEFAULT NULL,
  `biometric_created_at` datetime DEFAULT NULL,
  `biometric_verified_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-20  8:09:54
